<div class="wrapper ">
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <!-- End Navbar -->
    <!-- Start Content -->
    <div class="content">
      <div class="container-fluid">
        <ngx-spinner></ngx-spinner>
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <h1>Lista de Eventos</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Eventos</h4>
                <p class="card-category"> Información sobre los Eventos de tu Residencial</p>
              </div>
              <div class="card-body">
                <form class="form-inline d-flex justify-content-center md-form form-sm mt-0">
                  <fa-icon [icon]="faSearch"></fa-icon>
                  <input class="form-control form-control-sm ml-3 w-75"
                         type="text"
                         placeholder="Buscar"
                         aria-label="Search" (keyup)="search(searchText.value)" #searchText>
                </form>
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                    <th class="text-center">ID</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Fecha de Inicio</th>
                    <th class="text-center">Fecha de termino</th>
                    <th class="text-center">No. Invitados</th>
                    <th class="text-center">Acciones</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let event of events; let i = index">
                      <td class="text-center">{{ i + 1 }}</td>
                      <td class="text-center">{{ event.name }}</td>
                      <td class="text-center">{{ event.dateStart | date:'medium' }}</td>
                      <td class="text-center">{{ event.dateEnd | date:'medium' }}</td>
                      <td class="text-center">{{ invitedsNumber(event) }}</td>
                      <td class="text-center">
                        <a (click)="goShow(event)" class="text-info" style="cursor: pointer;">
                          <fa-icon [icon]="faEye"></fa-icon>
                        </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Content -->
    </div>
    <!--    <app-footer></app-footer>-->
  </div>
</div>
