<div id="features">
  <div class="row d-flex align-items-center">
    <div class="col-12 col-md-6 pt-md-5 mt-md-5">
      <div class="offset-1 col-10">
        <h1 class="text-justify d-none d-lg-block">
          <strong class="text-danger text-uppercase">da valor agregado a tu residencial o empresa.</strong>
        </h1>
        <h3 class="text-justify d-none d-md-block d-lg-none">
          <strong class="text-danger text-uppercase">da valor agregado a tu residencial o empresa.</strong>
        </h3>
        <h6 class="text-justify d-md-none">
          <strong class="text-danger text-uppercase">da valor agregado a tu residencial o empresa.</strong>
        </h6>
      </div>
      <div class="offset-1 col-10  mt-lg-5">
        <h1 class="text-justify d-none d-lg-block">
          Incorporando QuickAccess, el sistema de registro y recepción de visitantes, que te facilita el control de acceso,
          ofreciendo la tranquilidad, seguridad y rapidez que necesitas al ingresar a tu inmueble residencial o corporativo
          empresarial.
        </h1>
        <h3 class="text-justify d-none d-md-block d-lg-none">
          Incorporando QuickAccess, el sistema de registro y recepción de visitantes, que te facilita el control de acceso,
          ofreciendo la tranquilidad, seguridad y rapidez que necesitas al ingresar a tu inmueble residencial o corporativo
          empresarial.
        </h3>
        <h6 class="text-justify d-md-none">
          Incorporando QuickAccess, el sistema de registro y recepción de visitantes, que te facilita el control de acceso,
          ofreciendo la tranquilidad, seguridad y rapidez que necesitas al ingresar a tu inmueble residencial o corporativo
          empresarial.
        </h6>
      </div>
<!--      <div class="offset-1 col-10 mt-lg-5">-->
<!--        <h1 class="text-justify d-none d-lg-block">-->
<!--          Brindando la tranquilidad y seguridad que quieres.-->
<!--        </h1>-->
<!--        <h3 class="text-justify d-none d-md-block d-lg-none">-->
<!--          Brindando la tranquilidad y seguridad que quieres.-->
<!--        </h3>-->
<!--        <h6 class="text-justify d-md-none">-->
<!--          Brindando la tranquilidad y seguridad que quieres.-->
<!--        </h6>-->
<!--      </div>-->
    </div>
    <div class="col-12 col-md-6 pt-lg-5 mt-lg-5">
      <img src="assets/images/family.png" class="img-fluid" alt="Familia">
    </div>
  </div>
  <div class="row d-flex align-items-center mt-md-5">
    <div class="col-12 col-md-6 px-md-5">
      <h1 class="text-center d-none d-lg-block">
        TENER EL CONTROL DE ACCESO DE TUS VISITAS ES MUY RÁPIDO, FÁCIL Y SEGURO CON QUICKACCESS.
      </h1>
      <h4 class="text-center d-none d-md-block d-lg-none">
        TENER EL CONTROL DE ACCESO DE TUS VISITAS ES MUY RÁPIDO, FÁCIL Y SEGURO CON QUICKACCESS.
      </h4>
      <p class="text-center d-md-none">
        TENER EL CONTROL DE ACCESO DE TUS VISITAS ES MUY RÁPIDO, FÁCIL Y SEGURO CON QUICKACCESS.
      </p>
      <img src="assets/images/phonesFeatures.png" class="img-fluid" alt="Phones">
    </div>
    <div class="col-12 col-md-6 px-md-5">
      <div class="col-12 article">
        <div class="row py-3 px-4 d-flex align-items-center my-2">
          <div class="col-2">
            <img src="assets/images/phoneFeatures.png" class="img-fluid" alt="phone">
          </div>
          <div class="col-10">
            <h2 class="text-left d-none d-lg-block">APLICACIÓN PARA GENERAR LISTA DE INVITADOS.</h2>
            <h4 class="text-left d-none d-md-block d-lg-none">APLICACIÓN PARA GENERAR LISTA DE INVITADOS.</h4>
            <p class="text-left d-md-none">APLICACIÓN PARA GENERAR LISTA DE INVITADOS.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h3 class="text-justify d-none d-lg-block">Facilita la creación de eventos, brindando rápida admisión y
              seguridad a tus invitados. <br><br>
              Genera invitaciones y autoriza visitas desde tu celular.</h3>
            <h5 class="text-justify d-none d-md-block d-lg-none">Facilita la creación de eventos, brindando rápida admisión y
              seguridad a tus invitados. <br><br>
              Genera invitaciones y autoriza visitas desde tu celular.</h5>
            <p class="text-justify d-md-none">Facilita la creación de eventos, brindando rápida admisión y
              seguridad a tus invitados. <br><br>
              Genera invitaciones y autoriza visitas desde tu celular.</p>
          </div>
        </div>
      </div>
      <div class="col-12 article">
        <div class="row py-3 px-4 d-flex align-items-center my-2">
          <div class="col-2">
            <img src="assets/images/qrFeatures.png" class="img-fluid" alt="phone">
          </div>
          <div class="col-10">
            <h2 class="text-left d-none d-lg-block">
              RECONOCIMIENTO POR CÓDIGO QR Y PIN.
            </h2>
            <h4 class="text-left d-none d-md-block d-lg-none">
              RECONOCIMIENTO POR CÓDIGO QR Y PIN.
            </h4>
            <p class="text-left d-md-none">
              RECONOCIMIENTO POR CÓDIGO QR Y PIN.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h3 class="text-justify d-none d-lg-block">
              Generación de control de acceso por código QR y PIN, garantizando que el ingreso sea ágil y confiable.
            </h3>
            <h5 class="text-justify d-none d-md-block d-lg-none">
              Generación de control de acceso por código QR y PIN, garantizando que el ingreso sea ágil y confiable.
            </h5>
            <p class="text-justify d-md-none">
              Generación de control de acceso por código QR y PIN, garantizando que el ingreso sea ágil y confiable.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 article">
        <div class="row py-3 px-4 d-flex align-items-center my-2">
          <div class="col-2">
            <img src="assets/images/chatFeatures.png" class="img-fluid" alt="phone">
          </div>
          <div class="col-10">
            <h2 class="text-left d-none d-lg-block">
              COMUNICACIÓN ÁGIL CON PROVEEDORES.
            </h2>
            <h4 class="text-left d-none d-md-block d-lg-none">
              COMUNICACIÓN ÁGIL CON PROVEEDORES.
            </h4>
            <p class="text-left d-md-none">
              COMUNICACIÓN ÁGIL CON PROVEEDORES.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <h3 class="text-justify d-none d-lg-block">
              Acceso rápido a la lista de proveedores registrados, para que puedas contactar con ellos de forma segura.
            </h3>
            <h5 class="text-justify d-none d-md-block d-lg-none">
              Acceso rápido a la lista de proveedores registrados, para que puedas contactar con ellos de forma segura.
            </h5>
            <p class="text-justify d-md-none">
              Acceso rápido a la lista de proveedores registrados, para que puedas contactar con ellos de forma segura.
            </p>
          </div>
        </div>
      </div>
      <div class="col-12 article">
        <div class="row py-3 px-4 d-flex align-items-center my-2">
          <div class="col-2">
            <img src="assets/images/autoFeatures.png" class="img-fluid" alt="phone">
          </div>
          <div class="col-10">
            <h2 class="text-left d-none d-lg-block">
              AGILIDAD AL INGRESAR AL RESIDENCIAL O EMPRESA.
            </h2>
            <h4 class="text-left d-none d-md-block d-lg-none">
              AGILIDAD AL INGRESAR AL RESIDENCIAL O EMPRESA.
            </h4>
            <p class="text-left d-md-none">
              AGILIDAD AL INGRESAR AL RESIDENCIAL O EMPRESA.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h3 class="text-justify d-none d-lg-block">
              Admisión rápida para tus visitantes, gracias al código QR y PIN, que te permite validar su entrada.
            </h3>
            <h5 class="text-justify d-none d-md-block d-lg-none">
              Admisión rápida para tus visitantes, gracias al código QR y PIN, que te permite validar su entrada.
            </h5>
            <p class="text-justify d-md-none">
              Admisión rápida para tus visitantes, gracias al código QR y PIN, que te permite validar su entrada.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
