<div class="wrapper ">
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <!-- End Navbar -->
    <!-- Start Content -->
    <div class="content">
      <div class="container-fluid">
        <ngx-spinner></ngx-spinner>
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <h1>Lista de Usuarios</h1>
            <div>
              <a [routerLink]="['/users/create']">
                <fa-icon [icon]="faPlusSquare"></fa-icon>
              </a>
              <a [routerLink]="['/users/send/email']" class="ml-3">
                <fa-icon [icon]="faEnvelope"></fa-icon>
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Usuarios</h4>
                <p class="card-category"> Información sobre los usuarios, Activos, Espera y Suspendidos</p>
              </div>
              <div class="card-body">
                <label for="filter">
                  Filtro
                  <select name="filter" id="filter" class="form-control" [(ngModel)]="selectFilter" (change)="filter()">
                    <option value="all">Todos</option>
                    <option value="active">Activos</option>
                    <option value="wait">Espera</option>
                    <option value="canceled">Cancelados</option>
                  </select>
                </label>
                <label class="ml-5">Status
                  <span class="mr-3">
                    Espera
                    <fa-icon class="text-warning"
                             [icon]="faPowerOff">
                    </fa-icon>
                  </span>
                  <span class="mr-2">
                    Activos
                    <fa-icon class="text-success"
                             [icon]="faPowerOff">
                    </fa-icon>
                  </span>
                  <span class="mr-2">
                    Suspendidos
                    <fa-icon class="text-danger"
                             [icon]="faPowerOff">
                    </fa-icon>
                  </span>
                  <span class="mr-2">
                    Proceso
                    <fa-icon class="text-secondary"
                             [icon]="faPowerOff">
                    </fa-icon>
                  </span>
                </label>

                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                    <th class="text-center">ID</th>
                    <th class="text-center">
                      <a (click)="orderName()" style="cursor: pointer;">
                      Nombre
                        <fa-icon [icon]="faChevronDown" *ngIf="!orderV"></fa-icon>
                        <fa-icon [icon]="faChevronUp" *ngIf="orderV"></fa-icon>
                      </a>
                    </th>
                    <th class="text-center">
                      <a (click)="orderComplex()" style="cursor: pointer;">
                        Complejo
                        <fa-icon [icon]="faChevronDown" *ngIf="!orderComplexV"></fa-icon>
                        <fa-icon [icon]="faChevronUp" *ngIf="orderComplexV"></fa-icon>
                      </a>
                    </th>
                    <th class="text-center">
                      <a (click)="orderHouse()" style="cursor: pointer;">
                        Casa
                        <fa-icon [icon]="faChevronDown" *ngIf="!orderHouseV"></fa-icon>
                        <fa-icon [icon]="faChevronUp" *ngIf="orderHouseV"></fa-icon>
                      </a>
                    </th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Acciones</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of users; let i = index">
                      <td class="text-center">{{ i + 1 }}</td>
                      <td class="text-center">{{ user.name }}</td>
                      <td class="text-center">
                        {{ user.complex }}
<!--                        <app-complex-users [complexes]="complexes" [user]="user"></app-complex-users>-->
                      </td>
                      <td class="text-center">
                        {{ user.house }}
<!--                        <app-house-users [houses]="houses" [user]="user"></app-house-users>-->
                      </td>
                      <td class="text-center">
                        <a (click)="active(user)" style="cursor: pointer;" *ngIf="user.status == 1">
                          <fa-icon class="text-success"
                                   [icon]="faPowerOff">
                          </fa-icon>
                        </a>
                        <a (click)="active(user)" style="cursor: pointer;" *ngIf="user.status == 0">
                          <fa-icon class="text-danger"
                                   [icon]="faPowerOff">
                          </fa-icon>
                        </a>
                        <a (click)="active(user)" style="cursor: pointer;" *ngIf="user.status == 2">
                          <fa-icon class="text-warning"
                                   [icon]="faPowerOff">
                          </fa-icon>
                        </a>
                        <a style="cursor: not-allowed;" *ngIf="user.status == 3">
                          <fa-icon class="text-secondary"
                                   disabled="true"
                                   [icon]="faPowerOff">
                          </fa-icon>
                        </a>
                      </td>
                      <td class="text-center">
                        <a (click)="destroy(user)" class="text-danger" style="cursor: pointer;">
                          <fa-icon [icon]="faTrashAlt"></fa-icon>
                        </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Usuarios</h4>
                <p class="card-category"> Vigilantes</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                    <th class="text-center">ID</th>
                    <th class="text-center">
                      <a (click)="orderNameV()" style="cursor: pointer;">
                        Nombre
                        <fa-icon [icon]="faChevronDown" *ngIf="!orderV"></fa-icon>
                        <fa-icon [icon]="faChevronUp" *ngIf="orderV"></fa-icon>
                      </a>
                    </th>
                    <th class="text-center">Caseta</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Acciones</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let userV of usersVigilant; let j = index">
                      <td class="text-center">{{ j + 1 }}</td>
                      <td class="text-center">{{ userV.name }}</td>
                      <td class="text-center">{{ userV.tollbooth }}</td>
                      <td class="text-center">
                        <a (click)="activeV(userV)" style="cursor: pointer;">
                          <fa-icon *ngIf="userV.status == 1"
                                   class="text-success"
                                   [icon]="faPowerOff">
                          </fa-icon>
                          <fa-icon *ngIf="userV.status == 0"
                                   class="text-danger"
                                   [icon]="faPowerOff">
                          </fa-icon>
                          <fa-icon *ngIf="userV.status == 2"
                                   class="text-warning"
                                   [icon]="faPowerOff">
                          </fa-icon>
                        </a>
                      </td>
                      <td class="text-center">
                        <a (click)="destroyV(userV)" class="text-danger" style="cursor: pointer;">
                          <fa-icon [icon]="faTrashAlt"></fa-icon>
                        </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Content -->
    </div>
    <!--    <app-footer></app-footer>-->
  </div>
</div>
