<div class="wrapper ">
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <!-- End Navbar -->
    <!-- Start Content -->
    <div class="content">
      <div class="container-fluid">
        <ngx-spinner></ngx-spinner>
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <h1>Lista de Usuarios Administradores</h1>
            <a [routerLink]="['/users/admin/create']">
              <fa-icon [icon]="faPlusSquare"></fa-icon>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Usuarios Administradores</h4>
                <p class="card-category"> Información sobre Usuario Administradores</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                    <th class="text-center">ID</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Empresa</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Acciones</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let user of users; let i = index">
                      <td class="text-center">{{ i + 1 }}</td>
                      <td class="text-center">{{ user.name }}</td>
                      <td class="text-center">{{ user.email }}</td>
                      <td class="text-center">{{ nameCompany(user) }}</td>
                      <td class="text-center">
                        <a (click)="active(user)" style="cursor: pointer;">
                          <fa-icon *ngIf="user.status == 1"
                                   class="text-success"
                                   [icon]="faPowerOff">
                          </fa-icon>
                          <fa-icon *ngIf="user.status == 0"
                                   class="text-danger"
                                   [icon]="faPowerOff">
                          </fa-icon>
                          <fa-icon class="text-warning" *ngIf="user.status == 2"
                                   [icon]="faPowerOff">
                          </fa-icon>
                          <fa-icon class="text-secondary" *ngIf="user.status == 3"
                                   disabled="true"
                                   style="cursor: not-allowed;"
                                   [icon]="faPowerOff">
                          </fa-icon>
                        </a>
                      </td>
                      <td class="text-center">
                        <a (click)="destroy(user)" class="text-danger" style="cursor: pointer;">
                          <fa-icon [icon]="faTrashAlt"></fa-icon>
                        </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Content -->
    </div>
  </div>
</div>
