.form-control
  background: rgba(#2f6ca2, 0.2)

.btn-primary
  color: #ecf2f8
  background-color: #3490dc
  border-color: #3490dc

  &.focus, &:focus, &:hover
    color: #ecf2f8
    background-color: #227dc7
    border-color: #2176bd

  &.focus, &:focus
    box-shadow: 0 0 0 0.2rem rgba(80, 159, 224, 0.5)

  &.disabled, &:disabled
    color: #ecf2f8
    background-color: #3490dc
    border-color: #3490dc

  &:not(:disabled):not(.disabled)
    &.active, &:active
      color: #ecf2f8
      background-color: #2176bd
      border-color: #1f6fb2

.show
  .btn-primary
    color: #ecf2f8
    background-color: #2176bd
    border-color: #1f6fb2

.btn-primary:not(:disabled):not(.disabled)
  &.active:focus, &:active:focus
    box-shadow: 0 0 0 0.2rem rgba(80, 159, 224, 0.5)

.show
  btn-primary:focus
    box-shadow: 0 0 0 0.2rem rgba(80, 159, 224, 0.5)

