<div class="container-fluid mt-5 py-5">
  <div class="row d-flex align-items-center justify-content-center">
    <div class="col-12 col-md-5 d-none d-md-block">
      <img src="assets/images/contact.jpeg" class="img-fluid" alt="Contacto">
    </div>
    <div class="col-12 col-md-7">
      <h1 class="text-center d-none d-lg-block">
        Contactános
      </h1>
      <h3 class="text-center d-none d-md-block d-lg-none">
        Contactános
      </h3>
      <p class="text-center d-md-none">
        Contactános
      </p>
      <form action="">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="name">Nombre</label>
              <input type="text" name="name" ngModel id="name" class="form-control" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="email">Correo</label>
              <input type="email" name="email" ngModel id="email" class="form-control" required>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="telephone">Telefono</label>
              <input type="number" name="telephone" ngModel id="telephone" class="form-control" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="message">Mensaje</label>
              <textarea name="message" id="message" cols="30" rows="10" class="form-control" required></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button type="submit" class="btn btn-block btn-primary">
              Enviar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
