<div class="wrapper ">
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <!-- End Navbar -->
    <!-- Start Content -->
    <div class="content">
      <div class="container-fluid">
        <ngx-spinner></ngx-spinner>
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <h1>Enviar Codigos de Autorización </h1>
            <a [routerLink]="['/users']">
              <fa-icon [icon]="faList"></fa-icon>
            </a>
          </div>
        </div>
        <form class="validate-form" (ngSubmit)="submit(form)" #form="ngForm">
          <input type="text" class="form-control" placeholder="Nombre" name="name"
                 ngModel minlength="3" required>
          <input type="email" class="form-control mt-3" placeholder="Correo" name="email"
                 ngModel required>
          <input type="text" class="form-control mt-3" placeholder="Telefono" name="telephone"
                 ngModel minlength="10" maxlength="10">
          <input type="text" class="form-control mt-3" placeholder="Apellido de a Familia"
                 name="lastname" ngModel required>
          <select name="complex" id="complex" ngModel class="form-control mt-3" *ngIf="complexes">
            <option value="">Seleciona Un Complejo</option>
            <option *ngFor="let complex of complexes; let i = index" value="{{complex.id}}">{{complex.name}}</option>
          </select>
          <input type="text" class="form-control mt-3" placeholder="Numero de Casa"
                 name="number" ngModel>
          <input type="text" class="form-control mt-3" placeholder="Calle"
                 name="street" ngModel>
          <div class="row mt-3">
            <div class="col-4 offset-4">
              <button type="submit" class="btn btn-block btn-primary" [disabled]="form.invalid">
                <fa-icon [icon]="faSave"></fa-icon>
                Guardar
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- End Content -->
    </div>
    <!--    <app-footer></app-footer>-->
  </div>
</div>
