<div class="wrapper ">
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <!-- End Navbar -->
    <!-- Start Content -->
    <div class="content">
      <div class="container-fluid">
        <ngx-spinner></ngx-spinner>
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <h1>Crear Nueva Empresa</h1>
            <a [routerLink]="['/companies']">
              <fa-icon [icon]="faList"></fa-icon>
            </a>
          </div>
        </div>
        <form class="validate-form" (ngSubmit)="store(forma)" #forma="ngForm">
          <input type="text" class="form-control mt-3" placeholder="Nombre de la Empresa" required name="name" ngModel>
          <input type="text" class="form-control mt-3" placeholder="Nombre del Contacto" required name="contact" ngModel>
          <input type="text" class="form-control mt-3" placeholder="Correo electronico" required name="email" ngModel>
          <input type="text" class="form-control mt-3" placeholder="Telefono" required name="telephone" ngModel>
          <div class="row mt-5">
            <div class="col-4">
              <label class="text-center">Logo de la Empresa</label>
              <br>
              <img with="200" height="200" [src]="thumbnailImage" *ngIf="thumbnailImage" class="img-fluid">
              <img with="200" height="200" src="assets/images/missing.png" *ngIf="!thumbnailImage" class="img-fluid">
            </div>
            <div class="col-8">
              <br><br>
              <div class="alert alert-primary" role="alert">
                <i class="fas fa-eye"></i> Imágenes (Formato png, jpg o jpeg de tamaño 1,280 x 960 a 72 dpi)<br>
              </div>

              <div class="upload-btn-wrapper">
                <button class="btn btn-primary">Selecciona un archivo</button>
                <input type="file" name="image" (change)="getImage($event)">
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4 offset-4">
              <button type="submit" class="btn btn-block btn-outline-primary" [disabled]="forma.invalid">
                <fa-icon [icon]="faSave"></fa-icon>
                Guardar
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- End Content -->
    </div>
    <!--    <app-footer></app-footer>-->
  </div>
</div>
