<div class="wrapper ">
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <!-- End Navbar -->
    <!-- Start Content -->
    <div class="content">
      <ngx-spinner></ngx-spinner>
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Perfil</h4>
                <p class="card-category">Información de Perfil</p>
              </div>
              <div class="card-body">
                <form (ngSubmit)="updateLocation(form)" #form="ngForm">
                  <div class="row">
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="bmd-label-floating">Residencial</label>
                        <input type="text" class="form-control" disabled [value]="company.name">
                      </div>
                    </div>
        <!--            <div class="col-md-3">-->
        <!--              <div class="form-group">-->
        <!--                <label class="bmd-label-floating">Apelldo</label>-->
        <!--                <input type="text" class="form-control">-->
        <!--              </div>-->
        <!--            </div>-->
                    <div class="col-md-7">
                      <div class="form-group">
                        <label class="bmd-label-floating">Correo</label>
                        <input type="email" class="form-control" name="email" disabled [(ngModel)]="user.email">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="bmd-label-floating">Nombre Completo</label>
                        <input type="text" class="form-control" [(ngModel)]="user.name" name="name">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 offset-md-8">
                      <div class="form-group mt-sm-4">
                        <a [routerLink]="['/users/change/password']" class="btn btn-block btn-outline-primary">
                          <fa-icon [icon]="faLockOpen"></fa-icon>
                          Cambiar Contraseña
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="user.profile == 'admin'">
                    <div class="col-md-9">
                      <div class="form-group">
                        <label class="bmd-label-floating">Calle</label>
                        <input type="text" class="form-control" name="street" ngModel
                        *ngIf="location.street == undefined">
                        <input type="text" class="form-control" name="street" [(ngModel)]="location.street"
                        *ngIf="location.street != undefined">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="bmd-label-floating">Numero</label>
                        <input type="text" class="form-control" name="number" ngModel
                        *ngIf="location.number == undefined">
                        <input type="text" class="form-control" name="number" [(ngModel)]="location.number"
                        *ngIf="location.number != undefined">
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="user.profile == 'admin'">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="bmd-label-floating">Ciudad</label>
                        <input type="text" class="form-control" name="suburb" ngModel *ngIf="location.suburb == undefined">
                        <input type="text" class="form-control" name="suburb" [(ngModel)]="location.suburb"
                               *ngIf="location.suburb != undefined">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="bmd-label-floating">Estado</label>
                        <input type="text" class="form-control" name="state" ngModel *ngIf="location.state == undefined">
                        <input type="text" class="form-control" name="state" ngModel [(ngModel)]="location.state" *ngIf="location.state != undefined">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="bmd-label-floating">Codigo Postal</label>
                        <input type="text" class="form-control" name="postal_code" ngModel
                               *ngIf="location.postal_code == undefined">
                        <input type="text" class="form-control" name="postal_code" ngModel [(ngModel)]="location.postal_code"
                               *ngIf="location.postal_code != undefined">
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="user.profile == 'user'">
                    <div class="col-md-9">
                      <div class="form-group">
                        <label class="bmd-label-floating">Calle</label>
                        <input type="text" class="form-control" disabled *ngIf="location.street == undefined">
                        <input type="text" class="form-control" disabled [value]="location.street" *ngIf="location.street != undefined">
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="bmd-label-floating">Numero</label>
                        <input type="text" class="form-control" disabled *ngIf="location.number == undefined">
                        <input type="text" class="form-control" disabled [value]="location.number" *ngIf="location.number != undefined">
                      </div>
                    </div>
                  </div>
                  <div class="row" *ngIf="user.profile === 'user'">
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="bmd-label-floating">Casa</label>
                        <input type="text" class="form-control" disabled *ngIf="house.name == undefined">
                        <input type="text" class="form-control" disabled [value]="house.name" *ngIf="house.name != undefined">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <label class="bmd-label-floating">Complejo</label>
                        <input type="text" class="form-control" disabled *ngIf="complex.name == undefined">
                        <input type="text" class="form-control" disabled [value]="complex.name" *ngIf="complex.name != undefined">
                      </div>
                    </div>
                  </div>
                  <div class="row">
        <!--            <div class="col-md-12">-->
        <!--              <div class="form-group">-->
        <!--                <label>About Me</label>-->
        <!--                <div class="form-group">-->
        <!--                  <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>-->
        <!--                  <textarea class="form-control" rows="5"></textarea>-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->
                  </div>
                  <button type="submit" class="btn btn-primary pull-right" *ngIf="user.profile == 'admin'">
                    <fa-icon [icon]="faEdit"></fa-icon>
                    Actualizar perfil
                  </button>
                  <div class="clearfix"></div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Content -->
    </div>
    <!--    <app-footer></app-footer>-->
  </div>
</div>
