<div class="wrapper ">
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <!-- End Navbar -->
    <!-- Start Content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <h1 class="text-center">Cambia tu contraseña</h1>
            <form class="form-group" (ngSubmit)="submit(forma)" #forma="ngForm">
              <div class="wrap-input100 validate-input input-group mb-3 mt-3">
                <input [type]="typeC"
                       class="form-control"
                       aria-label="password"
                       aria-describedby="button-addon"
                       required
                       name="password"
                       ngModel
                       minlength="8"
                       placeholder="Contraseña">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary"
                          type="button"
                          id="button-addon"
                          style="margin-top: -0.1px;"
                          (click)="eye()">
                    <fa-icon [icon]="faEye" *ngIf="typeC === 'password'"></fa-icon>
                    <fa-icon [icon]="faEyeSlash" *ngIf="typeC === 'text'"></fa-icon>
                  </button>
                </div>
              </div>
              <div class="wrap-input100 validate-input input-group mb-3 mt-3">
                <input [type]="typeCC"
                       class="form-control"
                       aria-label="pass"
                       aria-describedby="button-addon2"
                       name="pass"
                       ngModel
                       minlength="8"
                       required placeholder="Repite la Contraseña">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary"
                          type="button"
                          id="button-addon2"
                          style="margin-top: -0.1px;"
                          (click)="eyeC()">
                    <fa-icon [icon]="faEye" *ngIf="typeCC === 'password'"></fa-icon>
                    <fa-icon [icon]="faEyeSlash" *ngIf="typeCC === 'text'"></fa-icon>
                  </button>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 offset-md-2">
                  <button class="btn btn-block btn-outline-primary" type="submit" [disabled]="forma.invalid">
                    <fa-icon [icon]="faSave"></fa-icon>
                    Cambiar Contraseña
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- End Content -->
    </div>
    <!--    <app-footer></app-footer>-->
  </div>
</div>
