<div class="limiter">
  <ngx-spinner></ngx-spinner>
  <div class="container-login100">
    <div class="wrap-login100 p-t-85 p-b-20">
      <form class="login100-form validate-form" (ngSubmit)="submit(forma)" #forma="ngForm">
					<span class="login100-form-title p-b-70">
						Bienvenido
					</span>
        <span class="login100-form-avatar">
						<img src="assets/images/faces/avatar.jpg" alt="AVATAR">
					</span>

        <div class="wrap-input100 validate-input mt-5 mb-3" data-validate = "Email">
          <input class="input100" type="text" name="email" ngModel>
          <span class="focus-input100" data-placeholder="Email"></span>
        </div>

        <div class="wrap-input100 validate-input mb-5" data-validate="Contraseña">
          <input class="input100" type="password" name="password" ngModel>
          <span class="focus-input100" data-placeholder="Contraseña"></span>
        </div>

        <div class="container-login100-form-btn">
          <button type="submit" class="login100-form-btn">
            Entrar
          </button>
        </div>

<!--        <ul class="login-more pt-2">-->
<!--          <li class="m-b-8">-->
<!--							<span class="txt1">-->
<!--								Forgot-->
<!--							</span>-->

<!--            <a href="#" class="txt2">-->
<!--              Username / Password?-->
<!--            </a>-->
<!--          </li>-->

<!--          <li>-->
<!--							<span class="txt1">-->
<!--								Don’t have an account?-->
<!--							</span>-->

<!--            <a href="#" class="txt2">-->
<!--              Sign up-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
      </form>
    </div>
  </div>
</div>
