<div class="container-fluid my-5">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center text-danger text-uppercase d-none d-lg-block">
        soluciones quickaccess.
      </h1>
      <h3 class="text-center d-none d-md-block d-lg-none">
        soluciones quickaccess.
      </h3>
      <p class="text-center text-danger text-uppercase d-md-none">
        soluciones quickaccess.
      </p>
    </div>
  </div>
  <div class="row d-flex align-items-center justify-content-center px-5">
    <div class="col-12 col-sm-6 my-4">
      <img src="assets/images/complexSolutions.jpeg" class="img-fluid rounded-circle" alt="Soluciones en Residenciales">
    </div>
    <div class="col-12 col-sm-6 my-4">
      <h1 class="text-uppercase text-left d-none d-lg-block">
        uso residencial.
      </h1>
      <h3 class="text-uppercase text-left d-none d-md-block d-lg-none">
        uso residencial.
      </h3>
      <p class="text-uppercase text-left d-md-none">
        uso residencial.
      </p><br><br>
      <h3 class="text-justify d-none d-lg-block">
        Tranquilidad en tu hogar es lo más importante, por ello QuickAccess  te garantiza  admisión    exclusiva  y
        confiable de invitados a tu residencial.
        <br><br>
        Tú tienes el control de quién ingresa al residencial; con su sistema de generación de códigos QR y PIN, puedes
        tener la seguridad que el acceso es 100% seguro y rápido; además, cada invitación que generes quedará registrada,
        por lo que puedes consultar fecha y hora en que podrán acceder tus invitados.
      </h3>
      <h5 class="text-justify d-none d-md-block d-lg-none">
        Tranquilidad en tu hogar es lo más importante, por ello QuickAccess  te garantiza  admisión    exclusiva  y
        confiable de invitados a tu residencial.
        <br><br>
        Tú tienes el control de quién ingresa al residencial; con su sistema de generación de códigos QR y PIN, puedes
        tener la seguridad que el acceso es 100% seguro y rápido; además, cada invitación que generes quedará registrada,
        por lo que puedes consultar fecha y hora en que podrán acceder tus invitados.
      </h5>
      <p class="text-justify d-md-none">
        Tranquilidad en tu hogar es lo más importante, por ello QuickAccess  te garantiza  admisión    exclusiva  y
        confiable de invitados a tu residencial.
        <br><br>
        Tú tienes el control de quién ingresa al residencial; con su sistema de generación de códigos QR y PIN, puedes
        tener la seguridad que el acceso es 100% seguro y rápido; además, cada invitación que generes quedará registrada,
        por lo que puedes consultar fecha y hora en que podrán acceder tus invitados.
      </p>
    </div>
  </div>
  <div class="row d-flex align-items-center justify-content-center px-5">
    <div class="col-12 col-sm-6">
      <h1 class="text-uppercase text-left d-none d-lg-block">
        uso empresarial.
      </h1>
      <h3 class="text-uppercase text-left d-none d-md-block d-lg-none">
        uso empresarial.
      </h3>
      <p class="text-uppercase text-left d-md-none">
        uso empresarial.
      </p><br><br>
      <h3 class="text-justify d-none d-lg-block">
        Tener el control de quien ingresa o sale de tu empresa de forma ágil, es primordial para mantener la seguridad.
        <br><br>
        QuickAccess te permite controlar las entradas y salidas de tus empleados, invitados o proveedores; podrás conocer
        el registro, permanencia y salida de cada uno de ellos. Puedes generar eventos y saber cuántas personas están presentes.
      </h3>
      <h5 class="text-justify d-none d-md-block d-lg-none">
        Tener el control de quien ingresa o sale de tu empresa de forma ágil, es primordial para mantener la seguridad.
        <br><br>
        QuickAccess te permite controlar las entradas y salidas de tus empleados, invitados o proveedores; podrás conocer
        el registro, permanencia y salida de cada uno de ellos. Puedes generar eventos y saber cuántas personas están presentes.
      </h5>
      <p class="text-justify d-md-none">
        Tener el control de quien ingresa o sale de tu empresa de forma ágil, es primordial para mantener la seguridad.
        <br><br>
        QuickAccess te permite controlar las entradas y salidas de tus empleados, invitados o proveedores; podrás conocer
        el registro, permanencia y salida de cada uno de ellos. Puedes generar eventos y saber cuántas personas están presentes.
      </p>
    </div>
    <div class="col-12 col-sm-6">
      <img src="assets/images/companySolutions.jpeg" class="img-fluid rounded-circle" alt="Soluciones en Empresas">
    </div>
  </div>
</div>
