<div class="wrapper ">
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <!-- End Navbar -->
    <!-- Start Content -->
    <div class="content">
      <div class="container-fluid">
        <ngx-spinner></ngx-spinner>
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <h1>Lista de Complejos</h1>
            <a [routerLink]="['/complexes/create']">
              <fa-icon [icon]="faPlusSquare"></fa-icon>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Complejos</h4>
                <p class="card-category"> Información sobre los complejos de tu Residencial</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th class="text-center">ID</th>
                      <th class="text-center">Nombre</th>
                      <th class="text-center">No. Usuarios</th>
                      <th class="text-center">No. Casas</th>
                      <th class="text-center">Status</th>
                      <th class="text-center" colspan="2">Acciones</th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let complex of complexes; let i = index">
                        <td class="text-center">{{ i + 1 }}</td>
                        <td class="text-center">{{ complex.name }}</td>
                        <td class="text-center">
                          {{ getNumbersUsers(complex) }}
                        </td>
                        <td class="text-center">
                          {{ getNumbersHouses(complex) }}
                        </td>
                        <td width="50px">
                          <a (click)="active(complex)" style="cursor: pointer;">
                            <fa-icon *ngIf="complex.status"
                                     class="text-success"
                                     [icon]="faPowerOff">
                            </fa-icon>
                            <fa-icon *ngIf="!complex.status"
                                     class="text-danger"
                                     [icon]="faPowerOff">
                            </fa-icon>
                          </a>
                        </td>
                        <td width="50px">
                          <a (click)="goEdit(complex)" class="text-warning" style="cursor: pointer;">
                            <fa-icon [icon]="faEdit"></fa-icon>
                          </a>
                        </td>
                        <td width="50px">
                          <a (click)="destroy(complex)" class="text-danger" style="cursor: pointer;">
                            <fa-icon [icon]="faTrashAlt"></fa-icon>
                          </a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Content -->
    </div>
    <!--    <app-footer></app-footer>-->
  </div>
</div>
