<div class="wrapper ">
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <!-- End Navbar -->
    <!-- Start Content -->
    <div class="content">
      <div class="container-fluid">
        <ngx-spinner></ngx-spinner>
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <h1>Crear Nuevo Complejo</h1>
            <a [routerLink]="['/complexes']" (click)="gotoList()">
              <fa-icon [icon]="faList"></fa-icon>
            </a>
          </div>
        </div>
        <form class="validate-form" (ngSubmit)="submit(forma)" #forma="ngForm">
          <input type="text" class="form-control" placeholder="Nombre" required name="name" ngModel>
          <div class="row mt-3">
            <div class="col-4 offset-4">
              <button type="submit" class="btn btn-block btn-outline-primary" [disabled]="forma.invalid">
                <fa-icon [icon]="faSave"></fa-icon>
                Guardar
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- End Content -->
    </div>
    <!--    <app-footer></app-footer>-->
  </div>
</div>
