<div class="wrapper ">
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <!-- End Navbar -->
    <!-- Start Content -->
    <div class="content">
      <div class="container-fluid">
        <ngx-spinner></ngx-spinner>
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <h1>Crear Nuevo Vigilante</h1>
            <a [routerLink]="['/users']">
              <fa-icon [icon]="faList"></fa-icon>
            </a>
          </div>
        </div>
        <form class="validate-form" (ngSubmit)="submit(form)" #form="ngForm">
          <input type="text"
                 class="form-control"
                 placeholder="Nombre"
                 name="name"
                 ngModel
                 minlength="3"
                 required>
          <input type="email"
                 class="form-control mt-3"
                 placeholder="Correo"
                 name="email"
                 ngModel
                 required>
          <input type="number"
                 class="form-control mt-3"
                 placeholder="Telefono"
                 name="telephone"
                 ngModel
                 minlength="10"
                 maxlength="10"
                 required>
          <div class="input-group mb-3 mt-3">
            <input [type]="typeC"
                   class="form-control"
                   aria-label="password"
                   aria-describedby="button-addon"
                   placeholder="Contraseña"
                   required
                   name="password"
                   ngModel
                   minlength="8">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary"
                      type="button"
                      id="button-addon"
                      style="margin-top: -0.1px;"
                      (click)="eye()">
                <fa-icon [icon]="faEye" *ngIf="typeC === 'password'"></fa-icon>
                <fa-icon [icon]="faEyeSlash" *ngIf="typeC === 'text'"></fa-icon>
              </button>
            </div>
          </div>
          <div class="input-group mb-3 mt-3">
            <input [type]="typeCC"
                   class="form-control"
                   aria-label="pass"
                   aria-describedby="button-addon2"
                   placeholder="Repite la Contraseña"
                   name="pass"
                   ngModel
                   minlength="8"
                   required>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary"
                      type="button"
                      id="button-addon2"
                      style="margin-top: -0.1px;"
                      (click)="eyeC()">
                <fa-icon [icon]="faEye" *ngIf="typeCC === 'password'"></fa-icon>
                <fa-icon [icon]="faEyeSlash" *ngIf="typeCC === 'text'"></fa-icon>
              </button>
            </div>
          </div>
          <input type="number" class="form-control mt-3" placeholder="Caseta" name="guardhouse" ngModel required>
          <div class="row mt-3">
            <div class="col-4 offset-4">
              <button type="submit" class="btn btn-block btn-primary" [disabled]="form.invalid">
                <fa-icon [icon]="faSave"></fa-icon>
                Guardar
              </button>
            </div>
          </div>
        </form>
      </div>
      <!-- End Content -->
    </div>
    <!--    <app-footer></app-footer>-->
  </div>
</div>
