<div class="background">
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">QuickAccess</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Menu" aria-controls="Menu" aria-expanded="false" aria-label="Toggle navigation">
      <fa-icon [icon]="faBars"></fa-icon>
    </button>

    <div class="collapse navbar-collapse" id="Menu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active" [routerLinkActive]="['active']">
          <a class="nav-link" href="#init">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" href="#features">Caracteristicas</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" href="#solutions">Soluciones</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link" href="#contact">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid mt-5 pt-5">
    <div class="row mb-5 pb-5" id="init">
      <div class="col-4 mt-3 offset-1">
        <img src="assets/images/logo.png" class="img-fluid" alt="Logo">
      </div>
      <div class="col-7 d-flex align-items-center">
        <div class="col-10 offset-1">
          <h1 class="text-justify d-none d-lg-block">
            <strong>La mejor herramienta para controlar el acceso de visitantes a tu resistencia o empresa.</strong>
          </h1>
          <h3 class="text-justify d-none d-md-block d-lg-none">
            <strong>La mejor herramienta para controlar el acceso de visitantes a tu resistencia o empresa.</strong>
          </h3>
          <h6 class="text-justify d-md-none">
            <strong>La mejor herramienta para controlar el acceso de visitantes a tu resistencia o empresa.</strong>
          </h6>
          <h1 class="d-none d-lg-block text-center">
            <span class="text-right">QuickAccess</span>
          </h1>
          <h3 class="d-none d-md-block d-lg-none text-center">
            <span class="text-right">QuickAccess</span>
          </h3>
          <p class="d-md-none text-center">
            <span>QuickAccess</span>
          </p>
          <h2 class="text-justify d-none d-lg-block">
            Le ofrece la mayor seguridad y tranquilidad en el proceso de admisión y registro de sus invitados.
          </h2>
          <h5 class="text-justify d-none d-md-block d-lg-none">
            Le ofrece la mayor seguridad y tranquilidad en el proceso de admisión y registro de sus invitados.
          </h5>
          <h6 class="text-justify d-md-none">
            Le ofrece la mayor seguridad y tranquilidad en el proceso de admisión y registro de sus invitados.
          </h6>
        </div>
      </div>
    </div>
    <app-features-main id="features"></app-features-main>
  </div>
  <app-solutions-main id="solutions"></app-solutions-main>
  <app-contact-main id="contact"></app-contact-main>
</div>
<!-- Footer -->
<footer class="page-footer font-small gay pt-4">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright QuickAccess</div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
