<div class="wrapper ">
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <!-- End Navbar -->
    <!-- Start Content -->
    <div class="content">
      <div class="container-fluid">
        <ngx-spinner></ngx-spinner>
        <ul class="list-group list-group-flush" *ngIf="eventsItems">
          <li class="list-group-item active">Detalles del Evento</li>
          <li class="list-group-item">
            <strong>Nombre: </strong>
            {{ event.name }}
          </li>
          <li class="list-group-item">
            <strong>Fecha de Inicio: </strong>
            {{ event.dateStart | date:'medium' }}
          </li>
          <li class="list-group-item">
            <strong>Fecha de Termino: </strong>
            {{ event.dateEnd | date:'medium' }}
          </li>
          <li class="list-group-item">
            <strong>Comentarios: </strong>
            {{ event.comments }}
          </li>
          <li class="list-group-item">
            <strong>Complejo: </strong>
            {{ complexItems }}
          </li>
          <li class="list-group-item">
            <strong>Casa: </strong>
            {{ houseItems }}
          </li>
        </ul>
        <h1 class="bg-info text-center text-white">Invitados</h1>
        <table class="table table-sm table-hover table-striped">
          <thead class="table-primary bg-primary">
          <tr>
            <th class="text-center">Id</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Email</th>
            <th class="text-center">Telefono</th>
            <th class="text-center">Asistencia</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let invited of inviteds; let i = index">
            <td class="text-center">{{ i+1 }}</td>
            <td class="text-center">{{ invited.name }}</td>
            <td class="text-center">{{ invited.email }}</td>
            <td class="text-center">{{ invited.telephone }}</td>
            <td class="text-center">{{ invited.status ? 'Si':'No' }}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- End Content -->
    </div>
    <!--    <app-footer></app-footer>-->
  </div>
</div>
