<div class="limiter">
  <ngx-spinner></ngx-spinner>
  <div class="container-login100">
    <div class="wrap-login100 p-t-85 p-b-20">
      <form class="login100-form validate-form" (ngSubmit)="submit(forma)" #forma="ngForm">
					<span class="login100-form-title p-b-70">
						Registrate
					</span>
        <span class="login100-form-avatar">
          <img src="assets/images/faces/avatar.jpg" alt="AVATAR">
        </span>
        <div class="wrap-input100 validate-input mb-3 mt-3" data-validate="Nombre">
          <input type="text"
                 class="input100"
                 name="name"
                 ngModel
                 minlength="3"
                 required>
          <span class="focus-input100" data-placeholder="Nombre"></span>
        </div>
        <div class="wrap-input100 validate-input mb-3 mt-3" data-validate="Correo">
          <input type="email"
                 class="input100 mt-3"
                 name="email"
                 ngModel
                 required>
          <span class="focus-input100" data-placeholder="Correo"></span>
        </div>
        <div class="wrap-input100 validate-input mb-3 mt-3" data-validate="Telefono">
          <input type="number"
                 class="input100 mt-3"
                 name="telephone"
                 ngModel
                 minlength="10"
                 maxlength="10"
                 required>
          <span class="focus-input100" data-placeholder="Telefono"></span>
        </div>
        <div class="wrap-input100 validate-input input-group mb-3 mt-3" data-validate="Contraseña">
          <input [type]="typeC"
                 class="input100"
                 aria-label="password"
                 aria-describedby="button-addon"
                 required
                 name="password"
                 ngModel
                 minlength="8">
          <span class="focus-input100" data-placeholder="Contraseña"></span>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary"
                    type="button"
                    id="button-addon"
                    style="margin-top: -0.1px;"
                    (click)="eye()">
              <fa-icon [icon]="faEye" *ngIf="typeC === 'password'"></fa-icon>
              <fa-icon [icon]="faEyeSlash" *ngIf="typeC === 'text'"></fa-icon>
            </button>
          </div>
        </div>
        <div class="wrap-input100 validate-input input-group mb-3 mt-3" data-validate="Repite la Contraseña">
          <input [type]="typeCC"
                 class="input100"
                 aria-label="pass"
                 aria-describedby="button-addon2"
                 name="pass"
                 ngModel
                 minlength="8"
                 required>
          <span class="focus-input100" data-placeholder="Repite la Contraseña"></span>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary"
                    type="button"
                    id="button-addon2"
                    style="margin-top: -0.1px;"
                    (click)="eyeC()">
              <fa-icon [icon]="faEye" *ngIf="typeCC === 'password'"></fa-icon>
              <fa-icon [icon]="faEyeSlash" *ngIf="typeCC === 'text'"></fa-icon>
            </button>
          </div>
        </div>
        <div class="wrap-input100 validate-input mb-5" data-validate="Codigo">
          <input type="text"
                 class="input100 mt-3"
                 name="code"
                 ngModel
                 required>
          <span class="focus-input100" data-placeholder="Codigo"></span>
        </div>
        <div class="row mt-3">
          <div class="container-login100-form-btn">
            <button type="submit" class="login100-form-btn">
              <fa-icon [icon]="faSignInAlt"></fa-icon>
              Registrar
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

