<div class="sidebar" data-color="purple" data-background-color="azure">
  <!--
  Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

  Tip 2: you can also add an image using data-image tag
-->
  <div class="logo">
    <a [routerLink]="['/profile']" class="simple-text logo-mini">
      <img [src]="logoCompany" width="20%" alt="logo">
    </a>
    <a [routerLink]="['/profile']" class="simple-text logo-normal">
      {{ nameCompany }}
    </a>
  </div>
  <div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item" routerLinkActive="active" *ngIf="userProfile === 'super_admin'">
        <a class="nav-link" [routerLink]="['/companies']">
          <fa-icon [icon]="faBuilding"></fa-icon>
          Empresas
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="userProfile === 'super_admin'">
        <a class="nav-link" [routerLink]="['/users/admin']">
          <fa-icon [icon]="faUsers"></fa-icon>
          Usuarios Administradores
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="userProfile === 'admin'">
        <a class="nav-link" [routerLink]="['/complexes']">
          <fa-icon [icon]="faHome"></fa-icon>
          Complejos
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="userProfile === 'admin'">
        <a class="nav-link" [routerLink]="['/users']">
          <fa-icon [icon]="faUsers"></fa-icon>
          Usuarios
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="userProfile === 'admin'">
        <a class="nav-link" [routerLink]="['/events']">
          <fa-icon [icon]="faList"></fa-icon>
          Eventos
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="userProfile === 'user'">
        <a class="nav-link" href="assets/files/QuickAccess.apk" download="QuickAccessApk">
          <fa-icon [icon]="faGooglePlay"></fa-icon>
          Descagar
        </a>
      </li>
      <li class="nav-item" routerLinkActive="active" *ngIf="userProfile === 'user'">
        <a class="nav-link" href="assets/files/QuickAccess.app" download="QuickAccessApp">
          <fa-icon [icon]="faAppStore"></fa-icon>
          Descagar
        </a>
      </li>
    </ul>
  </div>
</div>
