<div class="wrapper ">
  <app-sidebar></app-sidebar>
  <div class="main-panel">
    <app-navbar></app-navbar>
    <!-- End Navbar -->
    <!-- Start Content -->
    <div class="content">
      <div class="container-fluid">
        <ngx-spinner></ngx-spinner>
        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <h1>Lista de Empresas</h1>
            <a [routerLink]="['/companies/create']">
              <fa-icon [icon]="faPlusSquare"></fa-icon>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Empresas</h4>
                <p class="card-category"> Información sobre los Empresas o Residenciales</p>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                    <th class="text-center">ID</th>
                    <th class="text-center">Logo</th>
                    <th class="text-center">Nombre</th>
                    <th class="text-center">No. Usuarios</th>
                    <th class="text-center">No. Casas</th>
                    <th class="text-center">No. Complejos</th>
                    <th class="text-center">Status</th>
                    <th class="text-center" colspan="2">Acciones</th>
                    </thead>
                    <tbody>
                    <tr *ngFor="let company of companies; let i = index">
                      <td class="text-center">{{ i + 1 }}</td>
                      <td width="100">
                        <img [src]="urlImages + company.logo" class="img-fluid" alt="{{ urlImages + company.logo }}">
                      </td>
                      <td class="text-center">
                        <p *ngIf="itemId != company.id ">{{ company.name }}</p>
                        <form *ngIf="itemId === company.id " class="form-inline">
                          <input type="text" name="nameCompany" [(ngModel)]="nameCompany" class="form-control">
                          <a (click)="update(company)" class="text-success" style="cursor: pointer;">
                            <fa-icon [icon]="faSave"></fa-icon>
                          </a>
                          <a (click)="cancel()" class="text-danger" style="cursor: pointer;">
                            <fa-icon [icon]="faBan"></fa-icon>
                          </a>
                        </form>
                      </td>
                      <td class="text-center">
                        {{ usersNumber(company) }}
                      </td>
                      <td class="text-center">
                        {{ housesNumber(company) }}
                      </td>
                      <td class="text-center">
                        {{ complexesNumber(company) }}
                      </td>
                      <td class="text-center">
                        <a (click)="active(company)" style="cursor: pointer;">
                          <fa-icon *ngIf="company.status"
                                   class="text-success"
                                   [icon]="faPowerOff">
                          </fa-icon>
                          <fa-icon *ngIf="!company.status"
                                   class="text-danger"
                                   [icon]="faPowerOff">
                          </fa-icon>
                        </a>
                      </td>
                      <td class="text-center">
                        <a (click)="edit(company)" class="text-warning" style="cursor: pointer;">
                          <fa-icon [icon]="faEdit"></fa-icon>
                        </a>
                      </td>
                      <td class="text-center">
                        <a (click)="destroy(company)" class="text-danger" style="cursor: pointer;">
                          <fa-icon [icon]="faTrashAlt"></fa-icon>
                        </a>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Content -->
    </div>
  </div>
</div>
